<!DOCTYPE html>
<html>
  <head>
    <title>Conference</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Conference</h1>
    <p>Welcome to Conference</p>
  </body>
</html>